#home-cantainer{
    display:  flex;
   
      #feeds-post{
          width: 70%;
          padding: 10px;
          
      }
    #user-friends{
        width: 30%;
        padding: 10px;
        border-left: 1px solid grey;
        height: 100%;
    }
}