<div>
    <p>Hey <%=comment.user.name %> ! </p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %> </strong> Just got published at codeial</p>
    <br>
    <br>
    <p>Thanks !</p>
</div>